<!-- BEGIN_INCLUDE(freshbooks:create-callback) -->
    <freshbooks:create-callback/>
<!-- END_INCLUDE(freshbooks:create-callback) -->

<!-- BEGIN_INCLUDE(freshbooks:list-callbacks) -->
    <freshbooks:list-callbacks/>
<!-- END_INCLUDE(freshbooks:list-callbacks) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-callback) -->
    <freshbooks:delete-callback/>
<!-- END_INCLUDE(freshbooks:delete-callback) -->

<!-- BEGIN_INCLUDE(freshbooks:verify-callback) -->
    <freshbooks:verify-callback/>
<!-- END_INCLUDE(freshbooks:verify-callback) -->

<!-- BEGIN_INCLUDE(freshbooks:create-category) -->
    <freshbooks:create-category/>
<!-- END_INCLUDE(freshbooks:create-category) -->

<!-- BEGIN_INCLUDE(freshbooks:update-category) -->
    <freshbooks:update-category/>
<!-- END_INCLUDE(freshbooks:update-category) -->

<!-- BEGIN_INCLUDE(freshbooks:get-category) -->
    <freshbooks:get-category categoryId="123"/>
<!-- END_INCLUDE(freshbooks:get-category) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-category) -->
    <freshbooks:delete-category/>
<!-- END_INCLUDE(freshbooks:delete-category) -->

<!-- BEGIN_INCLUDE(freshbooks:list-categories) -->
    <freshbooks:list-categories/>
<!-- END_INCLUDE(freshbooks:list-categories) -->

<!-- BEGIN_INCLUDE(freshbooks:create-client) -->
    <freshbooks:create-client/>
<!-- END_INCLUDE(freshbooks:create-client) -->

<!-- BEGIN_INCLUDE(freshbooks:update-client) -->
    <freshbooks:update-client/>
<!-- END_INCLUDE(freshbooks:update-client) -->
     
<!-- BEGIN_INCLUDE(freshbooks:get-client) -->
    <freshbooks:get-client clientId="123"/>
<!-- END_INCLUDE(freshbooks:get-client) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-client) -->
    <freshbooks:delete-client/>
<!-- END_INCLUDE(freshbooks:delete-client) -->

<!-- BEGIN_INCLUDE(freshbooks:undelete-client) -->
    <freshbooks:undelete-client />
<!-- END_INCLUDE(freshbooks:undelete-client) -->
     
<!-- BEGIN_INCLUDE(freshbooks:list-clients) -->
    <freshbooks:list-clients/>
<!-- END_INCLUDE(freshbooks:list-clients) -->

<!-- BEGIN_INCLUDE(freshbooks:create-invoice) -->
    <freshbooks:create-invoice />
<!-- END_INCLUDE(freshbooks:create-invoice) -->

<!-- BEGIN_INCLUDE(freshbooks:update-invoice) -->
    <freshbooks:update-invoice />
<!-- END_INCLUDE(freshbooks:update-invoice) -->

<!-- BEGIN_INCLUDE(freshbooks:get-invoice) -->
    <freshbooks:get-invoice invoiceId="123"/>
<!-- END_INCLUDE(freshbooks:get-invoice) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-invoice) -->
    <freshbooks:delete-invoice/>
<!-- END_INCLUDE(freshbooks:delete-invoice) -->

<!-- BEGIN_INCLUDE(freshbooks:undelete-invoice) -->
    <freshbooks:undelete-invoice />
<!-- END_INCLUDE(freshbooks:undelete-invoice) -->

<!-- BEGIN_INCLUDE(freshbooks:list-invoices) -->
    <freshbooks:list-invoices />
<!-- END_INCLUDE(freshbooks:list-invoices) -->

<!-- BEGIN_INCLUDE(freshbooks:create-item) -->
    <freshbooks:create-item />
<!-- END_INCLUDE(freshbooks:create-item) -->

<!-- BEGIN_INCLUDE(freshbooks:update-item) -->
    <freshbooks:update-item />
<!-- END_INCLUDE(freshbooks:update-item) -->

<!-- BEGIN_INCLUDE(freshbooks:get-item) -->
    <freshbooks:get-item itemId="123"/>
<!-- END_INCLUDE(freshbooks:get-item) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-item) -->
    <freshbooks:delete-item/>
<!-- END_INCLUDE(freshbooks:delete-item) -->

<!-- BEGIN_INCLUDE(freshbooks:list-items) -->
    <freshbooks:list-items />
<!-- END_INCLUDE(freshbooks:list-items) -->

<!-- BEGIN_INCLUDE(freshbooks:create-payment) -->
    <freshbooks:create-payment />
<!-- END_INCLUDE(freshbooks:create-payment) -->

<!-- BEGIN_INCLUDE(freshbooks:update-payment) -->
    <freshbooks:update-payment />
<!-- END_INCLUDE(freshbooks:update-payment) -->

<!-- BEGIN_INCLUDE(freshbooks:get-payment) -->
    <freshbooks:get-payment paymentId="123"/>
<!-- END_INCLUDE(freshbooks:get-payment) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-payment) -->
    <freshbooks:delete-payment/>
<!-- END_INCLUDE(freshbooks:delete-payment) -->

<!-- BEGIN_INCLUDE(freshbooks:list-payments) -->
    <freshbooks:list-payments />
<!-- END_INCLUDE(freshbooks:list-payments) -->

<!-- BEGIN_INCLUDE(freshbooks:create-tax) -->
    <freshbooks:create-tax />
<!-- END_INCLUDE(freshbooks:create-tax) -->

<!-- BEGIN_INCLUDE(freshbooks:update-tax) -->
    <freshbooks:update-tax />
<!-- END_INCLUDE(freshbooks:update-tax) -->

<!-- BEGIN_INCLUDE(freshbooks:get-tax) -->
    <freshbooks:get-tax taxId="123"/>
<!-- END_INCLUDE(freshbooks:get-tax) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-tax) -->
    <freshbooks:delete-tax/>
<!-- END_INCLUDE(freshbooks:delete-tax) -->

<!-- BEGIN_INCLUDE(freshbooks:list-taxes) -->
    <freshbooks:list-taxes />
<!-- END_INCLUDE(freshbooks:list-taxes) -->

<!-- BEGIN_INCLUDE(freshbooks:create-task) -->
    <freshbooks:create-task />
<!-- END_INCLUDE(freshbooks:create-task) -->

<!-- BEGIN_INCLUDE(freshbooks:update-task) -->
    <freshbooks:update-task />
<!-- END_INCLUDE(freshbooks:update-task) -->

<!-- BEGIN_INCLUDE(freshbooks:get-task) -->
    <freshbooks:get-task taskId="123"/>
<!-- END_INCLUDE(freshbooks:get-task) -->

<!-- BEGIN_INCLUDE(freshbooks:delete-task) -->
    <freshbooks:delete-task/>
<!-- END_INCLUDE(freshbooks:delete-task) -->

<!-- BEGIN_INCLUDE(freshbooks:list-tasks) -->
    <freshbooks:list-tasks />
<!-- END_INCLUDE(freshbooks:list-tasks) -->

<!-- BEGIN_INCLUDE(freshbooks:get-current-user-information) -->
    <freshbooks:get-current-user-information />
<!-- END_INCLUDE(freshbooks:get-current-user-information) -->

<!-- BEGIN_INCLUDE(freshbooks:create-session) -->
    <freshbooks:create-session />
<!-- END_INCLUDE(freshbooks:create-session) -->

<!-- BEGIN_INCLUDE(freshbooks:create-system-user) -->
    <freshbooks:create-system-user />
<!-- END_INCLUDE(freshbooks:create-system-user) -->